* {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	background-color: black;
}



.inhoudsopgave {
 	text-align: left;
	font-size: 8pt;
	font-family: Andale Mono;
	line-height: 12pt;
	margin-left:20px;
	margin-top: 130px;
	width:100%;
	width:20%;
	height:25%;
	text-decoration: none;
}


.menubalk {
	/*border-style: solid;
	border-width: 0px 0px 5px 0px;*/
	top: 0;
	position: fixed;
	padding: 2% 5%;
	font-size: 9px;
	background-color: black;
	width: 100%;
	font-family: Andale Mono;
	letter-spacing:-0.1pt;
	color: white;

}



#voorwoord{
	text-align:left;
	font-size:12pt;
	font-family: Andale Mono;
	letter-spacing: 1px;
	line-height: 15pt;
	padding-bottom: 40px;
	margin-left:150px;
	margin-top:200px;
	width:59%;
	height:auto;
	letter-spacing:-0.1pt;

	
}



#lijden {
	text-align:left;
	font-size:12pt;
	font-family: Andale Mono;
	line-height: 15pt;
	float:left; 
	width:59%;
	height:auto;
	margin-left:150px;
	margin-top:20px;
	padding-bottom: 40px;
	letter-spacing:-0.1pt;

}

#psychologie{
	text-align:left;
	font-size:12pt;
	font-family: Andale Mono;
	line-height: 15pt;
	float:left; 
	width:59%;
	height:auto;
	margin-left:150px;
	margin-top:20px;
	padding-bottom: 40px;
	letter-spacing:-0.1pt;
	
}

#hetsublieme{
	text-align:left;
	font-size:12pt;
	font-family: Andale Mono;
	line-height: 15pt;
	float:left; 
	width:59%;
	height:auto;
	margin-left:150px;
	margin-top:20px;
	padding-bottom: 40px;
	letter-spacing:-0.1pt;

}

#afstand{
	text-align:left;
	font-size:12pt;
	font-family: Andale Mono;
	line-height: 15pt;
	float:left; 
	width:59%;
	height:auto;
	margin-left:150px;
	margin-top:20px;
	padding-bottom: 40px;
	letter-spacing:-0.1pt;

}


#kunst{
	text-align:left;
	font-size:12pt;
	font-family: Andale Mono;
	line-height: 15pt;
	float:left; 
	width:59%;
	height:auto;
	margin-left:150px;
	margin-top:20px;
	padding-bottom: 40px;
	letter-spacing:-0.1pt;

}

#conclusie{
	text-align:left;
	font-size:12pt;
	font-family: Andale Mono;
	line-height: 15pt;
	float:left; 
	width:59%;
	height:auto;
	margin-left:150px;
	margin-top:20px;
	padding-bottom: 40px;
	letter-spacing:-0.1pt;

}


#bijlage{
	text-align:left;
	font-size:12pt;
	font-family: Andale Mono;
	line-height: 15pt;
	float:left; 
	width:59%;
	height:auto;
	margin-left:150px;
	margin-top:20px;
	padding-bottom: 40px;
	letter-spacing:-0.1pt;

}


#abstract{
	text-align:left;
	font-size:12pt;
	font-family: Andale Mono;
	line-height: 15pt;
	float:left; 
	width:59%;
	height:auto;
	margin-left:150px;
	margin-top:20px;
	padding-bottom: 40px;
	letter-spacing:-0.1pt;

}

.hoofdstuk .bron {
	position: absolute;
	right: 2px;
	width: 100px;
	font-size:6pt;
	line-height: 9pt;
	
		}

.image{
	width: 100%;
    height: auto;
    padding-bottom:40px; 
}



a{
	text-decoration: none;
	font-color:black;
	color:inherit;

}



ul{
	
	list-style-type: none;
	margin: 0;
    padding-left: 90;
    word-spacing: 6px;
    letter-spacing:-0.1pt;


}

li {
    float: left;
}



h1{
	font-family: akkurat;
	font-size: 45pt;
	line-height: 40pt;
    letter-spacing:1.0pt;



}

header{
	font-family: akkurat;
	margin-left:50px;
	font-size: 45pt;
	margin-top: 60px;
	margin-right:20px;
	text-align: center;
	line-height: 60pt;
	padding-top:30px;
}


body {
    color: white;

}



#p2 {
  text-indent: 40px;
}





@media print {
  .page-break {
  	page-break-after: always;
  	color:black;
}


body{
color:black;
line-height: 1.3pt;
font-size: 12pt;
	}

 div.menubalk {
  	 top: 0;
	position: fixed;
  }


#bijlage{
   page-break-before: always;
}

.hoofdstuk #conclusie{
   page-break-before: always;
}

@page:{
margin: 1.2cm;
}

}

@media screen and (max-width:768px;) {
	.hoofdstuk .bron {

		position: static;
	}
}

