* {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	background-color: black;
}





.menubalk {
	/*border-style: solid;
	border-width: 0px 0px 5px 0px;*/
	top: 0;
	position: fixed;
	padding: 2% 5%;
	font-size: 9px;
	background-color: black;
	width: 80%;
	font-family: Andale Mono;
	letter-spacing:-0.1pt;
	color: white;
	margin-left: 1cm;

}

.menubalk ul li {
	margin-right: 40px;
	margin-bottom: 2px;
	word-spacing: 0.5px;

}



#voorwoord{
	text-align:left;
	font-size:12pt;
	font-family: Andale Mono;
	letter-spacing: 1px;
	line-height: 15pt;
	padding-bottom: 40px;
	margin-left:110px;
	margin-top:230px;
	width:62%;
	height:auto;
	letter-spacing:-0.1pt;

	
}



#lijden {
	text-align:left;
	font-size:12pt;
	font-family: Andale Mono;
	line-height: 15pt;
	float:left; 
	width:60%;
	height:auto;
	margin-left:110px;
	margin-top:20px;
	padding-bottom: 40px;
	letter-spacing:-0.1pt;

}

#psychologie{
	text-align:left;
	font-size:12pt;
	font-family: Andale Mono;
	line-height: 15pt;
	float:left; 
	width:60%;
	height:auto;
	margin-left:110px;
	margin-top:20px;
	padding-bottom: 40px;
	letter-spacing:-0.1pt;
	
}

#hetsublieme{
	text-align:left;
	font-size:12pt;
	font-family: Andale Mono;
	line-height: 15pt;
	float:left; 
	width:60%;
	height:auto;
	margin-left:110px;
	margin-top:20px;
	padding-bottom: 40px;
	letter-spacing:-0.1pt;

}

#afstand{
	text-align:left;
	font-size:12pt;
	font-family: Andale Mono;
	line-height: 15pt;
	float:left; 
	width:60%;
	height:auto;
	margin-left:110px;
	margin-top:20px;
	padding-bottom: 40px;
	letter-spacing:-0.1pt;

}


#kunst{
	text-align:left;
	font-size:12pt;
	font-family: Andale Mono;
	line-height: 15pt;
	float:left; 
	width:60%;
	height:auto;
	margin-left:110px;
	margin-top:20px;
	padding-bottom: 40px;
	letter-spacing:-0.1pt;

}

#conclusie{
	text-align:left;
	font-size:12pt;
	font-family: Andale Mono;
	line-height: 15pt;
	float:left; 
	width:60%;
	height:auto;
	margin-left:110px;
	margin-top:20px;
	padding-bottom: 40px;
	letter-spacing:-0.1pt;

}


#bijlagen{
	text-align:left;
	font-size:12pt;
	font-family: Andale Mono;
	line-height: 15pt;
	float:left; 
	width:60%;
	height:auto;
	margin-left:110px;
	margin-top:20px;
	padding-bottom: 40px;
	letter-spacing:-0.1pt;

}

#bronnen{
	text-align:left;
	font-size:12pt;
	font-family: Andale Mono;
	line-height: 15pt;
	float:left; 
	width:60%;
	height:auto;
	margin-left:110px;
	margin-top:20px;
	padding-bottom: 40px;
	letter-spacing:-0.1pt;

}

#abstract{
	text-align:left;
	font-size:12pt;
	font-family: Andale Mono;
	line-height: 15pt;
	float:left; 
	width:60%;
	height:auto;
	margin-left:110px;
	margin-top:20px;
	padding-bottom: 40px;
	letter-spacing:-0.1pt;

}

.hoofdstuk .bron {
	position: absolute;
	right: 2px;
	width: 100px;
	font-size:6pt;
	line-height: 9pt;
	
		}

.image{
	width: 100%;
    height: auto;
    padding-bottom:40px; 
}

.image2{
	width: 70%;
    height: auto;
    padding-bottom:40px; 

}




a{
	text-decoration: none;
	font-color:black;
	color:inherit;

}



ul{
	
	list-style-type: none;
	margin: 0;
    padding-left: 90;
    word-spacing: 6px;
    letter-spacing:-0.1pt;


}

li {
    float: left;
}



h1{
	font-family: akkurat;
	font-size: 45pt;
	line-height: 40pt;
    letter-spacing:-0.1pt;



}

header{
	font-family: akkurat;
	margin-left:40px;
	font-size: 45pt;
	margin-top: 60px;
	margin-right:20px;
	text-align: center;
	line-height: 60pt;
	padding-top:30px;

}


body {
    color: white;
}





@media screen and (max-width:768px;) {
	.hoofdstuk .bron {

		position: static;
	}
}





@media print {
    @page {
        margin-top: 1.5cm;
        margin-bottom: 1.6cm;
  
    }


  .page-break {
  	page-break-after: always;
  	color:black;
	}


img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

* {
	background-color: white;
}



body{
	color:black;
	line-height: 1.3pt;
	font-size: 12pt;
}


div.menubalk {
	background-color: white;
	position: absolute;
	top: -10;
	left: 0;
	margin-left: -70px;
	width: initial;
}

div.menubalk ul {
	margin: 0;
	padding: 0;


}

div.menubalk ul li {
	color: black;
	display: inline-block;
	height: 12px;
	margin-left: 130 !important;
	margin-right: 0px !important;
	text-decoration: none;


}









}

